body {
    height: 100vh;
    width: 100vw;

    background-color: #1a1bce !important;

    font-family: 'VT323', monospace !important;
}

.body-mobile {
    display: none;
    width: 100vw;
    height: 100vh;
    color: yellow !important;
    background-color: #1a1bce !important;
    text-align: center;
}

h4 {
    padding: 2%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0 !important;
    margin-bottom: 1% !important;

    border: 1px solid white; 
    outline: 1px solid white;
}

p {
    padding: 2%;
    margin-block-start: 0;
    margin-block-end: 0;

    margin-top: 0 !important;
    margin-bottom: 0.5% !important;

    border: 1px solid white; 
    outline: 1px solid white;
}

#link-yellow {
    color: yellow !important;
}

#link-yellow:hover {
    color: yellow !important;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

#link-white {
    color: white !important;
}

#link-white:hover {
    color: yellow !important;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

.text-highlight {
    color: yellow;
    background-color: black;
}

.border {
    padding: 0.5%;
    margin-block-start: 0;
    margin-block-end: 0;
    border: 1px solid white; 
    outline: 1px solid white;
}

.header-home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    position: fixed;
    top: 0;
    height: 5%;
    width: 100vw;

    background-color: #b50002;
    color: white;
    text-align: center;
    font-size: 25px;

}

.main-home {
    position: fixed;
    top: 5%;
    height: 90%;
    width: 100vw;

    font-size: 25px;
    margin: 0;
}

.box {
    position: absolute;
    padding: 1%;
    /* border: 5px solid white; */
    box-shadow: 25px 25px 1px rgba(000, 000, 000, 0.7);
}

#list {
    top: 5%;
    left: 5%;
    width: 30%;
    height: 20%;
    background-color: #0001b4;

    color: yellow;

}

#about {
    top: 3%;
    right: 3%;
    width: 45%;
    height: 90%;
    background-color: #b50002;

    color: white;
}

#sites {
    top: 33%;
    left: 15%;
    width: 30%;
    height: 60%;
    background-color: #b50002;

    color: white;
}

.footer-home {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    position: fixed;
    bottom: 1%;
    height: 5%;
    width: 100vw;

    background-color: #1a1bce;
    color: yellow;
    text-align: center;
    border-top: 5px solid white;
    font-size: 25px;
}


@media only screen and (max-width: 1000px) {

    .desktop {
        display: none;
    }

    .body-mobile {
        display: block;
        width: 100vw;
        height: 100vh;
        padding-top: 50%;
        color: yellow !important;
        background-color: #1a1bce !important;
        text-align: center;
    }

    .blinker {
        border: none;
        outline: none;
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        100% {
            opacity: 0;
        }
        0% {
            opacity: 1;
        }

}
    
    
    
